<h2>Employees Name Is : {{employee.name | uppercase}}</h2>
<h2>Employees BaseSalary Is : {{employee.baseSalary | currency: "EUR"}}</h2>
<h2>Employees Joining Dtae Is : {{employee.joinedOn | date}}</h2>
<h2>Employees Qualification Is : {{employee.qualification | uppercase}}</h2>
<h2>Employees Percentage Are : {{employee.winningPercentage | percent}}</h2>
<h2>About The Employee : {{employee.about | ellipsis}}
<button type="button" ng-click="employee()" class="btn btn-outline-danger">more</button>
</h2>